#page-success {
  width: 100vw;
  height: 100vh;
  background: #37C77F;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-success main {
  position: relative;
  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#page-success .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#page-success .content h2{
  font-weight: 800;
  font-size: 80px;
}

#page-success .content p{
  font-weight: 600;
  font-size: 24px;
  margin-top: 32;
}

#page-success .content .return-button {
  width: 243px;
  height: 64px;
  background: #31B272;
  border-radius: 20px;
  color: #FFF;
  text-decoration: none;
  margin-top: 60px;
  

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-success .content .return-button:hover{
  background: #3BD689;
}

